.articleInfos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40vw;
    height: 80vh;
    margin: 15px;
    background-size: cover;
    align-items: baseline;
}

.nameArticle{
    font-size: 12px;
}

.descArticle{
    font-size: 24px;
    font-weight: 600
;
}